html{
    background: radial-gradient(circle,#fff,#ccc);
}


#container{
    
   width:600px;
   border:1px solid grey;
   border-radius: 10px;
   height:400px;
   margin:100px auto;
   background-color:#9DD2EA;
    padding:20px;
    box-shadow: 4px 4px 10px 0px #009DE4;
}
#score{ 

   width:60px;
   height:40px;
   border-radius: 10px;
    position:absolute;
    left:550px;
    padding:10px;
    background-color: #F1FF92;
    text-align: center;
    display: none;

}
#correct{
    width:50px;
   height:20px;
   border-radius: 5px;
   left:450px;
    position: absolute;
    padding:10px;
    background-color: green;
    text-align: center;
/*    visibility: hidden;*/
     display:none;
}


#wrong{
    
    width:50px;
   height:20px;
   border-radius: 5px;
   left:450px;
    position: absolute;
    padding:10px;
    background-color: red;
    text-align: center;
/*    visibility: hidden;*/
    display:none;
}
#question{
    
    width:400px;
    height:140px;
    margin:70px 70px 10px 70px;
    background-color: #9DA0EA;
    text-align: center;
    font-size:80px;
    font-family: cursive;
    }

#instruction{
     width:380px;
    height:40px;
    padding: 10px;
    margin:10px 70px 10px 70px;
    text-align: center;
    background-color: #B481D9;
    
}
.box{
    
     width:80px;
     height:60px;
     border-radius: 5px;
     margin-right:20px;
     background-color: wheat;
     float:left;
    text-align: center;
    line-height: 60px;
    box-shadow:0px 4px rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.5s;
}
.box:active{
    box-shadow: 0px 0px #B481D9;
    top:4px;
}
#box4{
    margin-right: 0px;
}
#choices{
    width:400px;
    height:70px;
    margin:10px 70px 10px 70px;
    
}
.box:hover{
    background-color: #B481D9;
}
#startreset{
    
     width:80px;
     height:30px;
     border-radius: 5px;
     margin-left:222px;
     background-color: wheat;
     float:left;
    text-align: center;
    line-height: 20px;
    box-shadow:0px 4px rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.5s;
}
#startreset:active{
    box-shadow: 0px 0px #B481D9;
    background-color: #B481D9;
    top:4px;
}

#timeremaining{
    
    width:150px;
     height:30px;
     border-radius: 5px;
    margin-right: 10px;
     background-color:#AFE64B;
     float:right;
    text-align: center;
    line-height: 20px;
    display:none;
}

#gameover{
    width:500px;
     height:150px;
     border-radius: 5px;
    margin: 0px auto;
     background-color:orangered;
    text-align: center;
    line-height: 80px;
    color:white;
    text-transform: uppercase;
    position: absolute;
    top:200px; 
    left: 250px;
    z-index: 1;
  display:none;
    

    
    
}